.animation-like-photo {
    animation-name: likePhoto;
    animation-duration: 4s;
}

.like-png-modal {
    opacity: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    transform: translateX(140px) translateY(80%);    
}

// скорость и анимация лайка
.animate-like {
    animation-name: likePhoto;
    animation-duration: 2s;
}



@keyframes likePhoto {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
