.photo-modal {
    float: left;
}
.modal_add_post {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 40px;
    box-shadow: 24;

    & textarea {
        background-color: rgb(243, 243, 243);
    }
}

.description {
    border: 1px solid #000;
    resize: none;
}

.submit_form {
    margin-top: 40px;
    margin-left: 55px;
    width: 300px;
    height: 40px;
    font-size: 17px;
    background: rgb(144, 144, 144);
}

.no-visible {
    display: none;
}