.prokrutka {
    width: 299px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    background: #fff;
    border: 1px solid #C1C1C1;
    overflow-y: scroll;
}

.suggestions {
    padding-top: 7px;
    padding-left: 80px;
    margin-bottom: -25px;   
    width: 400px;
    height: 40px;
    border: 1px solid #acacac;
}